 .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust the height of the top container */
}

.special-text,
.color-changing-text {
    font-size: 52px;
    font-weight: bold;
}

.icon-container {
    display: flex;
    margin-top: 10px; /* Adjust the margin as needed */
}

.icon {
    margin-right: 10px; /* Adjust the margin between icons as needed */
    font-size: 24px;
}

#claimButton:hover {
    background-color: #ff66b2;
}

#imageContainer {
    width: 100%;
    text-align: center;
}

.slideshow-image {
    display: none;
    max-width: 100%; /* Ensure the image fits within the container */
}

.color-changing-text {
    animation: colorChange 3s infinite alternate; /* Color change animation */
}

@keyframes colorChange {
    0%, 100% { color: #ff0000; } /* Red */
    25% { color: #00ff00; } /* Green */
    50% { color: #0000ff; } /* Blue */
    75% { color: #ff66b2; } /* Magenta */
}

.timer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.time-component {
    margin: 0 10px;
    text-align: center;
}

.label {
    font-size: 12px;
}

#claimButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: pink;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#claimButton:hover {
    background-color: #ff66b2;
}

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Oswald"
        }

        body {
            font-family: "Open Sans"
        }

#foot{
text-align:center;
font-size:15px;
color:black;
background-color:yellow;
}